<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Completely CSS: Custom checkboxes, radio buttons and select boxes</title>
  <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400|Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
<div class="container">
        <h1>Stock Market Price </h1>
    </div>   
<div class="container">
    <form action="/myplot" method="post">
          <p> Please enter a stock ticker (eg. GOOG) and check desired features </p>
          Ticker Symbol:
          <input list="hosting-plan" type="text" name="ticker">
 
      <datalist id="hosting-plan">
          
          <option value="AAPL">Apple</option>
          <option value="MSFT">Microsoft Corp.</option>
          <option value="NKE">Nike Inc.</option>
          <option value="INTC">Intel Inc.</option>

      </datalist>
          
                <p>   <p>
                  <fieldset class="form-group">
                    
                    <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="price" value="Close" checked="">
                        Closing Price
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="price" value="Adj_Close">Adjusted Closing Price
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="price" value="Open">
                        Opening Price
                      </label>
                    </div>
                    <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="price"  value="Adj_Open" >
                        Adjusted Opening Price
                      </label>
                    </div>
                  </fieldset>

                  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  
  
</body>
</html>

